body {
	margin: 0;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.vertical-top {
	align-items: flex-start;
}

.vertical-center {
	align-items: center;
}

.horizontal-center {
	justify-content: center;
}

.navigation {
	left: 0;
	width: 100%;
	min-height: 50px;
	background-color: grey;
	text-align: center;
}

.container {
	padding:8px;
}

#grid-management {
	min-height: 200px;
	margin-bottom: 8px;
}

#pallet-container {
	position: relative;
	height: 290px;
	width: 300px;
	overflow: scroll;
	border: 1px solid black;
}

#grid-container {
	position: relative;
	background-color: lightgray;
	width: 650px;
	height: 500px;
	overflow: auto;
	margin-left: 100px;
	/* To prevent 'select-cursor' on click-drag */
	-webkit-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#right-container {
	padding-left: 8px;
}

#sprite-preview {
	background-repeat: no-repeat;
	position: absolute;
	pointer-events: none;
}

#selected-tile-indicator {
	background-color: rgba(0, 149, 221, 0.4);
	position: absolute;
	pointer-events: none;
}

#grid-lines {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

::-webkit-scrollbar {
  width:9px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.05);
}

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/